<%= form_for @clinic do |f| %>
	<% if @clinic.errors.any? %>
	<div id="errors">
		<h2><%= pluralize(@clinic.errors.count, "error") %> stopped this clinic from saving. </h2>
		<ul>
			<% @clinic.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
				<% end %>
		</ul>
	</div>
	<% end %>

	<table class="clinic_table">
		<tr>
			<th><%= f.label :clinie_date %></th>
			<td colspan='3'><%= f.text_field :date %></td>
		</tr>
		
	</table>
		<p>
			<%= f.submit %>
		</p>

	<% end %>